{% extends 'base.html' %}
{% load staticfiles %}
{% load core_extras %}

{% block content %}

<div class="container">
    <div class="row">
        <form method="post" action="{% url 'info:home' %}" style="width:30%;">
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for key, value in form.non_field_errors.items %}
                    {% for error in value %}
                         {{ error }}
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% for field in form %}
                {{ field.label }}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
                {{ field|addcss:"form-control" }}
            {% endfor %}
            <br />
            <button type="submit" class="btn btn-success btn-sm">Save</button>
        </form>
    </div>
</div>


<script>
    $(document).ready(function(){
        var user_url = 'http://localhost:8000/info/detail-list'
        var auth_headers = {
            Authorization: 'Token ' + '{{ token }}'
        }
        var user_ajax_obj = {
          url : user_url,
          dataType : 'json',
          headers: auth_headers,
          success : function(data) {
            console.log('authorized user returned');
            for (var i=0; i < data.length; i++){
                console.log(data[i]);
            }
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log('error returned from ' + user_url);
          }
        };
        $.ajax(
          user_ajax_obj
        );
    });
</script>
{% endblock %}