{% extends 'base.html' %}
{% load staticfiles %}
{% load core_extras %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <form method="post" action="{% url 'info:home' %}" style="width:80%;">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    {% for key, value in form.non_field_errors.items %}
                        {% for error in value %}
                             {{ error }}
                        {% endfor %}
                    {% endfor %}
                {% endif %}

                {% for field in form %}
                    {{ field.label }}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                    {{ field|addcss:"form-control" }}
                {% endfor %}
                <br />
                <button type="submit" class="btn btn-success btn-sm">Save</button>
            </form>
        </div>


        <div class="col-sm-6">
            <table id="detailsTable" style="width:80%; margin-top:20px;" class="table table-condensed table-striped">

            </table>
        </div>
    </div>
</div>


<script>
    $(document).ready(function(){
        var user_url = 'http://localhost:8000/info/detail-list'
        var auth_headers = {
            Authorization: 'Token ' + '{{ token }}'
        }
        var validate_user = {
          url : user_url,
          dataType : 'json',
          headers: auth_headers,
          success : function(data) {
            console.log('authorized user returned');
            createTable(data);
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log('error returned from ' + user_url);
          }
        };

        $.ajax(
          validate_user
        );

        function createTable(data){
            var content = '';

            $.each(data, function(i, item){
                console.log(data[i]);
                content += '<tr><td>' + data[i].name + '</td>' + '<td>' + data[i].create_dt + '</td></tr>';
            });

            $("#detailsTable").append(content);

        }


    });
</script>
{% endblock %}