{% extends 'base.html' %}

{% block content %}
<div class='row'>
	<div class='col-lg-6 col-lg-offset-3'>
		<div class="panel panel-default">
			<div class="panel-heading">
		        <h3 class="panel-title">LOGIN</h3>
		    </div>
			<div class="panel-body">
				<br />
                {{ form.non_field_errors }}
				<form class="form" method='post' action='.'>
					{% csrf_token %}

						<div class="form-group">
						<label for="id_username">Username</label>
						<input class="form-control" placeholder='Enter your username here' id='id_username' maxlength='254' name='username' type='text' required autofocus='' />

					</div>
					<div class="form-group">
						<label for="id_password">Password</label>
						<input class="form-control" placeholder='Enter your password here' id='id_password' name='password' type='password' required />
					</div>
					<br />
					<button style="width:100px;" class="btn btn-success btn-sm" type='submit' value='Submit'>Log in</button>

                    <button style="width:100px;" class="btn btn-danger btn-sm" id="loginButton" type="button">Test</button>

				</form>
			</div>
		</div>
	</div>
</div>

<script>
    $("#loginButton").click(function(){
        var username = $("#id_username").val();
        var password = $("#id_password").val();

        $.ajax({
                type: "POST",
                url: "http://localhost:8000/api-token-auth/",
                data: {
                    "username": username,
                    "password": password,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                dataType: "json",
                success: function(data) {
                alert(data.token);
                },
                error: function (rs, e) {
                    console.log("error")
                }
            });
    });
</script>
{% endblock %}